.se_request {background:#FFF9FA; padding:7px; color:#CC3300; width:95%; margin-bottom:10px; border:dashed 1px #FF3300;}

.se_request a {color:#CC3300;}

.hightlite {
	color: #fff;
	background-color: #f93;
}